h1,
body,
html,
main {
  margin: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.hero-image {
  background-image: url("../images/soup.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image h1 {
  font-size: 90px;
  color: #fff;
  font-weight: lighter;
}

.container {
  margin: 0px 75px;
}

.info-img {
  margin: 0 auto;
  display: block;
  width: 45%;
  height: auto;
}

.paragraph {
  font-size: 20px;
  margin-top: 60px;
}

.section-title {
  font-size: 20px;
  font-weight: lighter;
}

hr {
  border-top: solid 2px #989898;
}

.ingredient-list {
  list-style: none;
}

.ingredient-list li::before {
  content: "- ";
}

.directions-list {
  counter-reset: list;
  list-style: none;
}

.directions-list li::before {
  content: counter(list) ") ";
  counter-increment: list;
}

li {
  padding: 4px;
}
